<div class= "row">
  <div class = "col-md-8">
    <% @comments.each do |comment| %>
    <% if comment.body != nil %>
    <div class = "media">
      <div class = "media-body">
        <h4 class = "media-heading">
          <%= comment.body %>
        </h4>
        <small>
          submitted<%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %>
        </small>
      </div>
    </div>
    <%end%>
    <%end%>
  </div>
</div>
      